In [11]:
import pandas as pd

In [12]:
df1 = pd.read_csv("reactionTypes.csv")

In [13]:
df1

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [20]:
df1.rename(columns = {"Type":"Reaction Type"},inplace=True)

In [21]:
df1.shape

(16, 3)

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction Type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [23]:
df1.isnull().sum()

Reaction Type    0
Sentiment        0
Score            0
dtype: int64

In [24]:
df1["Reaction Type"].value_counts()

Reaction Type
heart          1
want           1
disgust        1
hate           1
interested     1
indifferent    1
love           1
super love     1
cherish        1
adore          1
like           1
dislike        1
intrigued      1
peeking        1
scared         1
worried        1
Name: count, dtype: int64

In [25]:
df1["Sentiment"].value_counts()

Sentiment
positive    9
negative    5
neutral     2
Name: count, dtype: int64

In [26]:
df1.to_csv("cleaned ReactionTypes.csv")